
* {
  padding: 0;
  margin: 0;
  
}
.nunito {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.source_sans_3 {
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body {
  padding: 0px;
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background:
        linear-gradient(180deg, #505050 0%, #111 7%, #11181C 100%),
        linear-gradient(180deg, #11181C 0%, #11181C 100%);
    color: #fff;
    
    min-height: 100%;
    display:block;
    align-items:center;
}
/* navbar */
.navbar {
  width: 100%;
  background: #1c1c1c;
  position: sticky;
  top: 0;
  z-index: 1000;
}
.search-box-mobile{
  display:none;
}
.nav-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 30px;
  border-bottom: 1px solid #333;
  margin-right:10px;
}
.nav-left {
  display: flex;
  align-items: center;
  gap: 16px;
}
.logo {
  font-size: 28px;
  font-weight: bold;
  color: #2f8d46;
}
.nav_left_image{
    display:inline; 
    background:transparent;
    font-size: 28px;
    font-weight: bold;
    color: #2f8d46;
}
.search-box input {
  background: #111;
  border: 1px solid #2f8d46;
  padding: 8px 14px;
  border-radius: 20px;
  color: white;
  width: 240px;
  outline: none;
}
.search-box-mobile{
  display:none;
  
}
input::placeholder {
  color: white;
  font-size: larger;
}
.nav-center a {
  margin: 0 12px;
  text-decoration: none;
  color: white;
  font-size: 15px;
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight:500 ;
}
.nav-center a:hover {
  color: #2f8d46;
  
}
.nav-center a i{
  transition: transform 0.3s ease;
}
.nav-center a:hover i{
    transform: rotate(180deg);

}
.nav-right {
  display: flex;
  align-items: center;

  gap: 14px;
}
.icon {
  cursor: pointer;
  font-size: 18px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #262b2f;
}
.profile {
  background: #262b2f;
  color: #000;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}
.nav-bottom {
  display: flex;
  gap: 20px;
  padding: 10px 30px;
  background: #202020;
  justify-content: center;
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.nav-bottom a {
  text-decoration: none;
  color: #ddd;
  font-size: 14px;
}
.nav-bottom a:hover {
  color: #2f8d46;  
}
.root {
  padding: 70px;
  margin: 10px;
  margin-top: 3lh;
  
}
.div_heading_gradient{
    height:50px; 
    width:100%; 
    display:flex; 
    flex-direction:column;
    justify-content: center; 
    align-items: center;    
}
.div_Heading_gradient_heading{
    margin-bottom: 35px;
}
.first_heading {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: normal;
  font-size: 40px;
}
 .searchbar_heading{
    border:#666b71 1px solid;
    border-radius: 12px; 
    height: 32px;
    display:flex; 
    justify-content:space-between; 
    width:700px; 
    font-weight:400; 
    color:gray;
    padding:12px 8px 11px;
    line-height: 18.86px;
    letter-spacing: normal; 
    margin: 20px 9px 0;
 }
.heading_gradient_below_heading{
    display:flex;
    justify-content:center; 
    align-content:center; 
    padding: 12px 8px 11px;
}
.small {
  border: 1px solid #666b71;
  background: #494d51;
  border-radius: 6px;
  text-align: center;
  color: #e9e9ea;
  padding: 12px 11px 8px;
  margin: 20px 9px 0px;
  width: 114.92;
  height: 32;
  font-size: 14px;
  font-family: sans-serif;
}
.container_for_main {
  background-color: #0c0e12;
  padding: 2rem;
  min-height: 60vh;
  margin: 8.5rem auto;
  border-radius: 1rem;
  position: relative;
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: auto auto;
  gap: 2rem;
  border:1px solid #202426;
}
.first_parent_div_for_main_content {
  display:flex; 
  flex-direction: column;
}
.first_div_for_first_child{
    display:flex; 
    justify-content:space-between; 
    padding:2rem;
}
.text_heading_within_the_main_div{
    font-size:36px;
    font-weight: 600;
    letter-spacing:normal; 
    margin-bottom: .8rem; 
    margin-top: 1rem; 
    margin-left: 1rem;
}
.text_paragragh_within_the_main_div{
    margin-bottom:.8rem; 
    margin-top: 1rem; 
    margin-left: 1rem;
}
.button_within_the_main_div{
    font-family: var(--font-primary);
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: normal;
    background-color: #00895e;
    color: #fff;
    border: 1px solid #00895e;
    border-radius: 10px;
    width: 155px;
    height: 40px;
    padding: 8px 16px;
    cursor: pointer;
    margin-top: 44px;
    margin-bottom:.8rem; 
    margin-top:1rem; 
    margin-left:1rem;
 }
 .special_image_div_exclusively_for_mobile{
  display:none;
 }
.imageOP{
    position: absolute;
    right: -26px;
    top: -67px;
    width: 100%;
    height: 100%;
    max-width: 600px;
    max-height: 600px;
 }
.second_div_for_second_child{
    display:flex; 
    justify-content:space-around;
}
.div_for_second_div{
    font-size: 14px;
    font-weight: 400;
    line-height: 0;
    letter-spacing: normal;
    display: flex;
    background-color: #202426;
    align-items: center;
    width: 222.5px;
    height: 36px;
    gap: 6px;
    border-radius: 12px;
    padding: 10px;
    color: #bebec2;
    border: 1px solid #252b2e;
    justify-content: center;
 }
.grid_image {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 36px;
  padding: 30px;
}
.card {
  border-radius: 14px;
  
  background: #121212;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.6);
}
.card-top {
  height: 180px;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.rating {
    position: absolute;
    top: 14px;
    right: 14px;
    color: white;
    padding: 6px 10px;
    border-radius: 20px;
    font-size: 13px;
    font-weight: bold;
    background-color: rgba(0, 0, 0, .4);
}
.card-bottom {
  padding: 18px;
  color: white;
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.interest {
  color: #A5A5A5;
  font-size: 12px;
    font-weight: 400;
    line-height: 17.09px;
    letter-spacing: normal;
    display:flex;
    align-content: center;
}
.level{
  color: #A5A5A5;
  font-size: 12px;
    font-weight: 400;
    line-height: 17.09px;
    letter-spacing: normal;
  display:flex;
  align-content: center;
  justify-content:flex-start;
  margin:6px;
}
.button {
  color: #148761;
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
}
.button:hover{
    background-color: #148761;
    color:white;
}
.graph{
  padding-left: 1.6rem; 
  background-image:url(./images/visit_count_2_1687863297.png);
  background-repeat: no-repeat;
  background-size: 24px;
  background-position: left center;
  font-size: 1rem;
}
.graph2{
  padding-left: 1.6rem; 
  background-image:url(./images/course_level_1687864113.png);
  background-repeat: no-repeat;
  background-size: 16px;
  background-position: left center;
  font-size: 1rem;
}
.image1 {
  background-image: url("./images/devops_engineering.webp");
}
.image2 {
  background-image: url("./images/tech_interview.webp");
}
.image3 {
  background-image: url("./images/da.webp");
}
.image4 {
  background-image: url("./images/complete_DSA.webp");
}
.image5 {
  background-image: url("./images/cpp.webp");
}
.image6 {
  background-image: url("./images/Java.webp");
}
.must_explore{
    display:flex; 
    justify-content:space-between; 
    align-content: center; 
    gap:25px;
    width:100%;
}
.muexp {
  background: rgb(174, 132, 209);

  font-size: larger;
  /* width: 244.34px ; */
  height: 104px;
  padding: 11px 18px;
  border-radius: 12px;
  color: #fff;
   width:auto;
  font-size: 22px;
  font-weight: 600;
  line-height: 39.29px;
  letter-spacing: normal;
}
.jaadu{
    display:flex;
    justify-content: center;
    margin-top:35px;
    width:35px;
    height:35px;
    margin-bottom: 50rem;
    margin-left:12rem;
    align-items: center;
    transition: all 0.4s ease;
}
.jaadu:hover{
    background-color: white; 
    color:black;
    border-radius: 50px;
}
.expore{
    display:grid; 
    grid-template-columns: repeat(2,auto); 
    justify-content:center;
    gap:10px; 
    align-content: center;
    margin:0 20px;
}
.explore {
  height: 200px;
  width: 499px;
  margin:0 11px;
  border-radius: 12px;
  margin-left: 30px;
  color: #ffffff;
  font-size: 28px;
  text-align: center;
  align-content: center;
  margin-bottom: 10px;
  justify-content: center;
  font-weight: 600;
  line-height: 39.29px;
  letter-spacing: normal;
  padding: 0 15px;
}
.view {
  width: 129.95px;
  text-align: center;
  padding: 2px 0px 0px 11px;
  height: 43px;
  border-radius: 35px;
  background: none;
  border: 1px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px 0 0 11px;
  margin-left: 180px;
  font-size: 20px;
  font-weight: 400;
}
.view:hover{
    background-color:white;
    color:#148761;

}
.bottom_links{
    border-top: 1px solid #494d51;
    display:flex;
    justify-content: space-around;
    padding: 40px 20px 20px;
}
.grid_for_tablet{
    display:grid;
    grid-template-columns: repeat(6,auto);
    gap:20px;
}
.special_icon_footer{
    align-items: center;
    display: flex;
    margin-top: 0;
}
.icon_special_footer {
  color: #8d9196;
  width: 58px;
  height: 58px;
  margin: 0px 0px 8px;
}
.lity{
    margin:0px 0px 0px 5px; 
    height:38px;
    width:38px;
}
.freefire li a {
  color: white;
  text-decoration: none;
  font-size: 14px;
}
.freefire li a:hover{
    color:#308d46;
}
footer{
    align-items: center;
    border-top: 1px solid #494d51;
    display: flex;
    font-size: 11pt;
    height: 40px;
    justify-content: flex-start;
    padding-left: 40px;
}
.for_tablet{
  display:none;
}
footer p{
   padding:0px 0px 0px 40px;
}
h1 {
  font-size: 28px;
  margin-bottom: 20px;
}

@media(max-width:619px){
.search-box{
  display:none;
}
body {
    margin:auto;
  overflow-x: hidden;
}
.root{
  margin:auto;
  padding:10px;
}
  .navbar{
    width:100%;
  }
  .nav-center{
    display:none;
  }
  .fa-regular_fa-sun{
    display:none;
  }
  .profile{
    display:none;
  }
   .nav-top {
    padding: 10px 15px;
  }
.search-box-mobile{
  display:block;
}
.search-box-mobile:hover{
}
  .search-box input {
    width: 140px;
    font-size: 14px;
  }

  .nav-right {
    gap: 10px;
  }

  .logo {
    font-size: 22px;
  }
  .grid_image {
  justify-content: flex-start; 
  overflow-x: auto;              
  white-space: nowrap;         
  gap: 14px;
  padding: 10px 15px;
  -webkit-overflow-scrolling: touch; 
  max-width: 100%;
  width: 100%;
  display: flex;
  }
  .grid_image::-webkit-scrollbar {
    display: none;
    }
  .explore {
    width: 100%;
    margin-left: 0;
    font-size: 20px;
  }
  .jaadu {
    margin-bottom: 2rem;
    margin-left: 0;
  }
  .nav-bottom {
    justify-content: flex-start; 
    overflow-x: auto;              
    white-space: nowrap;         
    gap: 14px;
    padding: 10px 15px;
    -webkit-overflow-scrolling: touch; 
  }
  .card{
    min-width: 300px;
    white-space: wrap;  
  }
  .nav-bottom a {
    flex-shrink: 0;   
    font-size: 13px;
  }
  .nav-bottom::-webkit-scrollbar {
    display: none;
  }
  .first_heading{
    font-size: 30px;
  }
  .searchbar_heading{
    width:100%;
  }
  .small{
    font-size: 12px;
  }
  .second_div_for_second_child{
    justify-content: flex-start; 
    overflow-x: auto;              
    white-space: nowrap;         
    gap: 14px;
    padding: 10px 15px;
    -webkit-overflow-scrolling: touch; 
  }
  .container_for_main {
    display: grid;
    grid-template-columns: 1fr; /* single column */
    margin: 10;
    padding: 1rem;
  }
  .imageOP {
  position: static;
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}
.text_heading_within_the_main_div{
  font-size: 30px;
}
.special_image_div_exclusively_for_laptop{
  display:none;
}
.special_image_div_exclusively_for_mobile {
   display: block;
   text-align: center; /* center the image */
   margin:0 0;
  }
 .second_div_for_second_child::-webkit-scrollbar {
    display: none;
  }
  .special_image_div_exclusively_for_mobile .imageOP {
    position: static;   /* remove absolute */
    top: auto;
    right: auto;
    width: 80%;         /* responsive size */
    height: auto;
    max-width: 300px;  
  }
.must_explore{
    justify-content: flex-start; 
    overflow-x: auto;              
    white-space: nowrap;         
    gap: 14px;
    padding: 10px 15px;
    -webkit-overflow-scrolling: touch; 
    margin:0;
}
.must_explore::-webkit-scrollbar {
    display: none;
  }
.mu_exp {
  width: 244.34px;
  height: 104px;
  padding: 14px 18px;
  border-radius: 12px;
  color: #fff;
  font-size: 12px;
  font-weight: 200;
  line-height: 39.29px;
  letter-spacing: normal;
  display:flex;
  margin:auto
}
.expore{
  display:flex;
  flex-direction: column;
  align-items: center;
}
.explore{
  width:100%;
  font-size: 20px;
  align-items: center;
}
.view{
  margin: auto;
}
.bottom_links{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
}
.special_icon_footer{
    margin-bottom: 20px;
    margin-top: 0;
    align-items: center;
}
.lity{
    margin:0px 5px;
    align-items: center;
}
.freefire{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
footer{
    margin: 0;
   padding:0;
  display: flex;
  justify-content: center;    /* horizontal center */
  align-items: center;       
  text-align: center; 
}
footer p{
    padding:0;
}
}
@media(max-width:1023px){
body {
    margin:0;
    padding:0;
  overflow-x: hidden;
}
.root{
  margin:0;
  padding:5%;

}
.nav-bottom {
    justify-content: flex-start; 
    overflow-x: auto;              
    white-space: nowrap;         
    gap: 14px;
    padding: 10px 15px;
    -webkit-overflow-scrolling: touch; 
}
.nav-bottom::-webkit-scrollbar {
    display: none;
  }
  .search-box{
  display:none;
}
.nav-center{
    display:none;
}
.search-box-mobile{
  display:block;}
.profile1{
    display:none;}
.div_Heading_gradient_heading{
  height: 100vh;              /* full screen height */
  display: flex;
  justify-content: center;    /* horizontal center */
  align-items: center;        /* vertical center */
  text-align: center; 
}   
.searchbar_heading{
    width:100%;
}
  .second_div_for_second_child{
    justify-content: flex-start; 
    overflow-x: auto;              
    white-space: nowrap;         
    gap: 14px;
    padding: 10px 15px;
    -webkit-overflow-scrolling: touch; 
  }
  .container_for_main {
    display: grid;
    grid-template-columns: 1fr; /* single column */
    margin: 10;
    padding: 1rem;
  }
  .imageOP {
  position: static;
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}
.text_heading_within_the_main_div{
  font-size: 30px;
}
.special_image_div_exclusively_for_laptop{
  display:none;
}
.special_image_div_exclusively_for_mobile {
   display: block;
   text-align: center; /* center the image */
   margin:0 0;
  }
 .second_div_for_second_child::-webkit-scrollbar {
    display: none;
  }
  .special_image_div_exclusively_for_mobile .imageOP {
    position: static;   /* remove absolute */
    top: auto;
    right: auto;
    width: 90%;         /* responsive size */
    height: auto;
    max-width: 300px;  
  }
  .grid_image {
  justify-content: flex-start; 
  overflow-x: auto;              
  white-space: nowrap;         
  gap: 14px;
  padding: 10px 15px;
  -webkit-overflow-scrolling: touch; 
  max-width: 100%;
  width: 100%;
  display: flex;
  }
  .grid_image::-webkit-scrollbar {
    display: none;
    }
.card{
    min-width: 300px;
    white-space: wrap;  
  }
.must_explore{
    justify-content: flex-start; 
    overflow-x: auto;              
    white-space: nowrap;         
    gap: 14px;
    padding: 10px 15px;
    -webkit-overflow-scrolling: touch; 
    margin:0;
}
.must_explore::-webkit-scrollbar {
    display: none;
  }
.mu_exp {
  width: 244.34px;
  height: 104px;
  padding: 14px 18px;
  border-radius: 12px;
  color: #fff;
  font-size: 12px;
  font-weight: 200;
  line-height: 39.29px;
  letter-spacing: normal;
  display:flex;
  margin:auto
}
.expore{
  display:flex;
      justify-content: flex-start; 
    overflow-x: auto;              
    white-space: nowrap;         
    gap: 14px;
    padding: 10px 15px;
    -webkit-overflow-scrolling: touch; 
    margin:0;
   
}
.explore{
  width:100%;
  /* align-items: center;
    justify-content: center; */
    min-width: 400px;
    flex-direction: column;
    display:flex;
    justify-content: center;
  align-items: center;
}
.expore::-webkit-scrollbar {
    display: none;
  }
  .view{
    margin:0;
  }
.bottom_links{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
}
.for_tablet{
  display: block;
}
.for_not_tablet{
  display: none;  
}
.grid_for_tablet{
  display:grid;
  grid-template-columns: repeat(2,1fr);
}
}
